@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ae9cff;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #9CFFAE;
    justify-content: space-between;
   
}

 .logo{
    display: flex;
 }
 .logo h3{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    padding-top: 10%;
    margin-left: 1rem;
 }
 .logo img{
    width: 120px;
    height: 120px;
    margin-left: 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
 }
 .history-btn {
    width: 200px;
    height: 40px;
    margin: 2rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
 }

 /* #card{
  background-color: black;
 } */

 .container{
   background-color: #fff;
   width: 90vmin;
   position: absolute;
   border-radius: 10px;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   margin-top: 60px;
   padding: 80px 50px;
   box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
 }
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    margin-top: 5px;
    border-bottom: 3px solid #ae9cff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.search-box button{
    padding: 5px 0;
    width: 15%;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
}
.result{
    margin-top: 1rem;
    position: relative;
}

.result h3{
    font-size: 30px;
    color: #1f194c;
}
.result .play{
  font-size: large;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.result .details{
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin: 5px 0 20px 0;
}

.result .wordExample{
  font-style: italic;
  border-left: 5px solid #ae9cff;
  margin-top: 30px;
  padding-left: 20px;
}
  .box{
    width: 200px;
    height: 300px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    background-color: #fff;
  }

  .box h3{
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .box .description{
    margin-bottom: 10px;
    padding-top: 50px;
  }

  .box button{
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: none;
    outline: none;
    font-size: x-large;
    cursor: pointer;
    
  }


  .history_card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

  }


  .heading{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    /* background-image: url("CardBackground.png"); */
  }
  nav .heading{
    font-size: 60px;
  }

  .homeScreenText{
    position: absolute;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 700;
    margin-top: 2rem;
    text-decoration: underline;
    width: 700px;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
  }
  .homeScreenText p{
    text-align: center;
  }

  .historyScreenText{
    position: absolute;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 2rem;
    text-decoration: underline;
    width: 250px;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 45%;
    /* background-color: #fff; */
    text-align: center;
  }